<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> 
    <title>Post Page</title>
</head>
<body>
    <div id="wrapper">
        <div id="head">
            <h1>A POST</h1>
        </div>
        <div id="body">
            <div id="content">
                {%for i in posts%}
                    <h2>{{i['title']}}</h2>
                    {{i['text']}}
                {%endfor%}
            </div>
        </div>
    </div>   
</body>
</html>